/* App.css */
* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  color: #222;
  margin: 0; /* Remove default margin to avoid unexpected spacing */
  font-family: Arial, sans-serif; /* You can specify your preferred font here */
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 1460px;
  margin: 0 auto; /* Center horizontally by applying auto margin on both sides */
  min-height: 100vh; /* Ensure the content spans the entire viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ActionButton.css */
.action-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
}

/* Home.css */
.home {
  text-align: center;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product h3 {
  margin-top: 10px;
  font-size: 1.25rem;
}

.product p {
  margin: 8px 0;
  font-size: 1rem;
  color: #555;
}

.product a {
  display: inline-block;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.product a:hover {
  background-color: #0056b3;
}
/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.auth-links a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}
